.App {
  text-align: center;
}

body {
  background: linear-gradient(0.25turn, #f21515, #f3ec78,#f21515);
}

.detail-box {
  text-align: center;
  background: rgb(206, 234, 135);
  width: 50%;
  margin-left: 25%;
}

.input-text {
  margin-top: 15px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  background: rgb(206, 234, 135);
  color:  #187b73;
}

.submit-button {
  background-color: rgb(244, 118, 69);
  color:  rgb(208, 46, 34);
  font-weight: bold;
  width: 30%;
  font-size: 20px;
  margin-top: 15px;
  border: 4px solid #075860;
  border-radius: 15px;
  padding: 4px;
}

.crud-button {
  background-color: rgb(206, 234, 135);
  color:  rgb(208, 46, 34);
  font-weight: bold;
  width: 16%;
  margin-right: 4px;
  font-size: 20px;
  margin-top: 15px;
  border: 4px solid #075860;
  padding: 4px;
}

.submit-button:hover, .detail-box:hover, .crud-button:hover,  .submit-button2:hover {
  background-color:rgb(124, 233, 139); 
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
