App {
  text-align: center;
}

body {
  background: linear-gradient(0.25turn, #ea7c40, #eaa1a1, #eca077,#eaa1a1, #ea7c40 );
  color:  #187b73;
  font-size: 15px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #090000;
}

h1 {
  color:rgba(63, 218, 216, 1);
  text-shadow: 2px 2px 2px #090000;
}

p {
  color:rgb(240, 101, 101);
  font-size: 20px;
  font-weight: bold;
}

.list-box {
  text-align: center;
  background: rgb(241, 243, 154);
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
  padding: 1px;
}

.detail-box {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(240, 194, 193) 0%,
    rgba(63, 218, 216, 1) 30%,
    rgb(235, 241, 215) 50%,
    rgba(63, 218, 216, 1) 70%,
    rgb(240, 194, 193) 100%
  );
  width: 70%;
  margin-left: 15%;
  padding-top: 10px;
  margin-top: 1%;
  padding-bottom: 16px;
}

.form-box {
  margin-top: 1%;
  letter-spacing: 2px;
  margin-left: 15%;
  padding-bottom: 16px;
  width: 70%;
  background: linear-gradient(
    90deg,
    rgb(240, 194, 193) 0%,
    rgb(171, 238, 160) 30%,
    rgb(244, 245, 233) 50%,
    rgb(171, 238, 160) 70%,
    rgb(240, 194, 193) 100%
  );
}

.input-text {
  margin-top: 15px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 60%;
  border-radius: 5px;
  color:  #587b7e;
  background: rgb(206, 234, 135);
  border: 1px solid #075860;
}

.select-option {
  padding: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 61%;
  border-radius: 5px;
  color:  #587b7e;
  background: rgb(206, 234, 135);
  border: 1px solid #075860;
}

.submit-button {
  background-color:rgba(63, 218, 216, 1);
  color:  #075860;
  font-weight: bold;
  width: 30%;
  font-size: 20px;
  margin-top: 15px;
  border: 4px solid #075860;
  border-radius: 15px;
  padding: 4px;
}

.crud-button {
  background-color: rgb(206, 234, 135);
  color: rgb(240, 73, 61);
  font-weight: bold;
  width: 30%;
  margin: 5px;
  font-size: 20px;
  border: 4px solid #eaa1a1;
  padding: 4px;
}

.submit-button:hover, .list-box:hover, .crud-button:hover,  .submit-button2:hover {
  background-color:rgb(124, 233, 139); 
}